stages:
  - lint  # <-- ADDED THIS STAGE FIRST
  - build
  - deploy

variables:
  DOCKER_HUB_REPOSITORY: shararehsadri/crypto-exchange
  DOCKER_IMAGE_TAG: $CI_COMMIT_SHORT_SHA
  HELM_RELEASE_NAME: crypto-exchange
  KUBE_NAMESPACE: default

# Job 1: Lint the Helm Chart
helm-lint:
  stage: lint
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  
  script:
    - echo "Linting Helm chart..."
    # Runs lint on the chart located in the ./charts/crypto-exchange directory
    - helm lint ./charts
  
  # Run this on all pushes
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

# Job 2: Build on 'main' branch
build-image:
  stage: build
  image: docker:24.0.5
  services:
    - docker:24.0.5-dind
  
  before_script:
    - echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
  
  script:
    - echo "Building and pushing image"
    - ${DOCKER_HUB_REPOSITORY}:${DOCKER_IMAGE_TAG}"
    - docker build --no-cache -t ${DOCKER_HUB_REPOSITORY}:${DOCKER_IMAGE_TAG} ./app
    - docker push ${DOCKER_HUB_REPOSITORY}:${DOCKER_IMAGE_TAG}
    
  # This job will ONLY run if the 'lint' job succeeds
  # AND it's on the 'main' branch
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

# Job 3: Deploy ONLY on 'main' branch
deploy-to-cluster:
  stage: deploy
  image:
    name: bitnami/kubectl:latest
    entrypoint: [""]
  
  script:
    - export KUBECONFIG=$KUBE_CONFIG
    - helm upgrade --install $HELM_RELEASE_NAME ./charts \
      --namespace $KUBE_NAMESPACE \
      --set image.repository=${DOCKER_HUB_REPOSITORY} \
      --set image.tag=${DOCKER_IMAGE_TAG} \
      --set-string secrets.djangoSecretKey="$DJANGO_SECRET_KEY" \
      --set-string secrets.dbPassword="$DB_PASSWORD" \
      --set database.host=mydb-postgresql
      
  # This job will ONLY run if 'build-image' succeeds
  # AND it's on the 'main' branch
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'