replicaCount: 2

image:
  repository: your-dockerhub-username/crypto-exchange
  pullPolicy: IfNotPresent
  tag: "0.0.1" 

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: crypto.example.com
      paths:
        - path: /
          pathType: ImplementationSpecific

# We pass secrets from the CI/CD pipeline, not storing them here.
secrets:
  djangoSecretKey: "Wyy4ZwsMLW-Uoc-fMJLLTFisnJj7gM8ZWp0dkySs1x1HlpJpvIAhCElaxM7pO8HXIlU"
  dbPassword: "P@ssw0rd123%"

# Default values for postgres-custom.
appName: postgres
replicaCount: 1

image:
  repository: postgres
  tag: "15-alpine"
  pullPolicy: IfNotPresent

storage:
  className: "standard" # Use 'standard' for Minikube default hostpath
  size: 1Gi

auth:
  username: crypto_user
  database: crypto_db
  # In production, password should come from an external Secret, not here in plain text
  password: SUPER_SECRET_PASSWORD

service:
  port: 5432


  
