# =========================
# Django Application Values
# =========================
replicaCount: 1

image:
  repository: shararehsadri/crypto-exchange
  pullPolicy: IfNotPresent
  tag: "0.0.1"

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: crypto.example.com
      paths:
        - path: /
          pathType: ImplementationSpecific

# Secrets for Django
secrets:
  djangoSecretKey: "Wyy4ZwsMLW-Uoc-fMJLLTFisnJj7gM8ZWp0dkySs1x1HlpJpvIAhCElaxM7pO8HXIlU"
  dbPassword: "P@ssw0rd123%"

# Database connection details for Django to use
database:
  host: postgresql  
  port: 5432
  user: crypto_user
  name: crypto_db

# =========================
# PostgreSQL Custom Values
# =========================
postgres:
  enabled: true
  appName: postgres
  replicaCount: 1
  
  image:
    repository: postgres
    tag: "15-alpine"
    pullPolicy: IfNotPresent

  storage:
    className: "standard"
    size: 1Gi

  auth:
    username: crypto_user
    database: crypto_db
    password: SUPER_SECRET_PASSWORD

  service:
    port: 5432
