# Forces all resource names to a clean "crypto-exchange"
fullnameOverride: "crypto-exchange"

# =========================
# Django Application Values
# =========================
replicaCount: 1

image:
  # This points to the local image you build with 'docker build'
  repository: crypto-exchange
  pullPolicy: Never # Force Kubernetes to use the local image
  tag: "local-dev"

service:
  type: ClusterIP
  port: 8000

ingress:
  enabled: true
  className: "nginx"
  annotations:
    # Increased timeouts to prevent 502 Bad Gateway errors
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "300"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "300"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "300"
  hosts:
    - host: crypto.minikube
      paths:
        - path: /
          pathType: ImplementationSpecific

# Secrets for Django
# These are just defaults; we override them in the Helm command
secrets:
  djangoSecretKey: "Wyy4ZwsMLW-Uoc-fMJLLTFisnJj7gM8ZWp0dkySs1x1HlpJpvIAhCElaxM7pO8HXIlU"
  dbPassword: Str0ng!P@ssw0rd_2025

# Database connection details for Django to use
database:
  host: mydb-postgresql  
  port: 5432
  user: crypto_user
  name: crypto_db

# =========================
# PostgreSQL Custom Values
# =========================
# --- REMOVED ---
# We are installing PostgreSQL as a SEPARATE Helm chart (helm install mydb...),
# so this entire 'postgres:' section should be removed from this file
# to avoid confusion and conflicts.